{
    "extends": "airbnb",
    "installedESLint": true,
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "import/no-extraneous-dependencies": "off",
        "react/forbid-prop-types": "off",
        "react/jsx-filename-extension": "off",
        "semi": [
            "error",
            "never"
        ]
    }
}